@model CrewViewModel    
@{
}

<div class="form-group">
    <label asp-for="@Model.SSN" class="col-form-label"></label>
    <input asp-for="@Model.SSN" class="form-control" />
    <span asp-validation-for="@Model.SSN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Name" class="col-form-label"></label>
    <input asp-for="@Model.Name" class="form-control" />
    <span asp-validation-for="@Model.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Email" class="col-form-label"></label>
    <input asp-for="@Model.Email" class="form-control" />
    <span asp-validation-for="@Model.Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Salary" class="col-form-label"></label>
    <input asp-for="@Model.Salary" class="form-control" />
    <span asp-validation-for="@Model.Salary" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Address" class="col-form-label"></label>
    <input asp-for="@Model.Address" class="form-control" />
    <span asp-validation-for="@Model.Address" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="@Model.Phone" class="col-form-label"></label>
    <input  asp-for="@Model.Phone" class="form-control" />
    <span asp-validation-for="@Model.Phone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Position" class="col-form-label"></label>
    <input  asp-for="@Model.Position" class="form-control" />
    <span asp-validation-for="@Model.Position" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.WorkHours" class="col-form-label"></label>
    <input  asp-for="@Model.WorkHours" class="form-control" />
    <span asp-validation-for="@Model.WorkHours" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Type" class="col-form-label"></label>
    <input  asp-for="@Model.Type" class="form-control" />
    <span asp-validation-for="@Model.Type" class="text-danger"></span>
</div>


<br />
